<div class="col-xs-6">
  <div class="sentiment-slider" id="<%= @classifier_id %>-slider" data-slider-classifier="<%= @classifier_id %>">
    <div class="sentiment-result sentiment-nothing sentiment-current">
    </div>
  </div>
  <div class="sentiment-technique">
    <%= @classifier_readable_name %>
  </div>
</div>