<div class="jumbotron">
  <h1>Sentiment Analysis Demo</h1>
  <div class="container">
    <p class="text-center">
      Sentiment Analysis can tell if one is happy or not from a body of text.
    </p>
    <p class="text-center">
      Here, you can try it out by expressing your opinion about a movie you just watched.
    </p>
  </div>
</div>