<div class="jumbotron">
  <h1>Sentiment Analysis Demo</h1>
  <div class="container">
    <p class="text-center">
      Sentiment Analysis can tell if one is happy or not from a body of text. Here, you can try it out by expressing your opinion about a movie you just watched.
    </p>
    <p class="text-center">
      What do you think about the movie Arrival?
    </p>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="review-input col-xs-6">  
        <textarea class="form-control" id="movie-review-input" name="movie-review"></textarea>
        <p>
          <a href="#" class="btn btn-primary btn-wide" id="random-review-link">Can't think of anything? Press me.</a>
        </p>
      </div>
      <div class="review-result col-xs-6">
        <div class="row">
          <div class="col-xs-6">
            <div class="sentiment-slider" id="genji-slider" data-slider-classifier="genji">
              <div class="sentiment-result sentiment-nothing sentiment-current">
              </div>
            </div>
            <div class="sentiment-technique">
              Genji
            </div>
          </div>
          <div class="col-xs-6">
            <div class="sentiment-slider" id="hanzo-slider" data-slider-classifier="hanzo">
              <div class="sentiment-result sentiment-nothing sentiment-current">
              </div>
            </div>
            <div class="sentiment-technique">
              Hanzo
            </div>
          </div>
        </div>
        <div class="row hidden">
          <div class="column column-6">
            <div class="sentiment-slider">
              <!-- <div class="sentiment-result sentiment-negative sentiment-preload">
                -ve
              </div> -->
              <div class="sentiment-result sentiment-nothing sentiment-current">
              </div>
            </div>
            <div class="sentiment-technique">
              Feed Forward NN
            </div>
          </div>
          <div class="column column-6">
            <div class="sentiment-slider">
              <!-- <div class="sentiment-result sentiment-negative sentiment-preload">
                -ve
              </div> -->
              <div class="sentiment-result sentiment-nothing sentiment-current">
              </div>
            </div>
            <div class="sentiment-technique">
              Mutli-class SVM
            </div>
          </div>
        </div>
        <!-- <div class="row feedback-box feedback-pending">
          <div class="column-12">
            <h3 class="text-center">Is this movie review actually <a href="#" class="feedback-button">good</a> or <a href="#" class="feedback-button">bad</a>?</h3>
            <p>Telling computer the truth and it shall learn and improve the classifiers over time. <a href="https://www.coursera.org/learn/machine-learning" target="_blank">Learn more about machine learning</a>.</p>
          </div>
        </div> -->
        <!-- <div class="row feedback-box feedback-given hidden">
          <h2 class="text-center">Thanks for the feedback!</h2>
        </div> -->
      </div>
      <div class="row feedback-box">
        
      </div>
    </div>
    <!-- <div class="separator"></div>
    <div class="row">
      <h2 class="text-center">
        Classifiers Performance
      </h2>
      <div class="row">
        <div class="performance-box column column-3">
          <div class="performance-title">ConvNet</div>
          <div class="performance-percent">87%</div>
        </div>
        <div class="performance-box column column-3">
          <div class="performance-title">Random Forest</div>
          <div class="performance-percent">73%</div>
        </div>
        <div class="performance-box column column-3">
          <div class="performance-title">Regular NN</div>
          <div class="performance-percent">83%</div>
        </div>
        <div class="performance-box column column-3">
          <div class="performance-title">Multi-Class SVM</div>
          <div class="performance-percent">84%</div>
        </div>
      </div>
    </div> -->
    <div class="separator"></div>
    <!-- <div class="row hidden">
      <h2 class="text-center">History</h2>
      <table>
        <tr>
          <td>Review</td>
          <td>ConvNet</td>
          <td>FeedForward</td>
          <td>Random Forest</td>
          <td>Multi Class SVM</td>
          <td>ACTUALLY</td>
        </tr>
        <tr>
          <td>This movie is good</td>
          <td>+ve</td>
          <td>-ve</td>
          <td>+ve</td>
          <td>+ve</td>
          <td>+ve</td>
        </tr>
      </table>
    </div> -->
    <footer class="text-center">
      <p>
        <b>Athena</b> is the evil AI that tells 2 teams of Overwatch characters to kill each other.
      </p>
      <p>
        <a href="http://www.anonoz.com">Handcrafted by Anonoz</a>
      </p>
    </footer>
</div>
