<%= render 'jumbotron' %>
<div class="container">
    <div class="row">
      <div class="review-input col-xs-6">
        <div class="row">
          <div class="col-xs-12">
            <textarea class="form-control" id="movie-review-input" name="movie-review"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>
              <a href="#" class="btn btn-primary btn-block" id="random-review-link">Can't think of anything? Press me.</a>
            </p>
          </div>
        </div>
      </div>
      <div class="review-result col-xs-6">
        <div class="row">
          <div class="col-xs-6">
            <div class="sentiment-slider" id="genji-slider" data-slider-classifier="genji">
              <div class="sentiment-result sentiment-nothing sentiment-current">
              </div>
            </div>
            <div class="sentiment-technique">
              Genji
            </div>
          </div>
          <div class="col-xs-6">
            <div class="sentiment-slider" id="hanzo-slider" data-slider-classifier="hanzo">
              <div class="sentiment-result sentiment-nothing sentiment-current">
              </div>
            </div>
            <div class="sentiment-technique">
              Hanzo
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column column-6">
            <div class="sentiment-slider" id="lstmclassifier-slider" data-slider-classifier="lstmclassifier">
              <div class="sentiment-result sentiment-nothing sentiment-current">
              </div>
            </div>
            <div class="sentiment-technique">
              LSTM
            </div>
          </div>
          <div class="column column-6">
            <div class="sentiment-slider" id="svmclassifier-slider" data-slider-classifier="svmclassifier">
              <div class="sentiment-result sentiment-nothing sentiment-current">
              </div>
            </div>
            <div class="sentiment-technique">
              SVM
            </div>
          </div>
        </div>
        <div class="row feedback-box feedback-pending hidden">
          <div class="column-12">
            <h3 class="text-center">This movie is actually...</h3>
            <div class="row">
              <div class="col-xs-6">
                <a href="#" class="btn btn-default btn-block btn-success feedback-button" data-ground-truth="1">Good</a>
              </div>
              <div class="col-xs-6">
                <a href="#" class="btn btn-default btn-block btn-danger feedback-button" data-ground-truth="-1">Bad</a>
              </div>
            </div>
            <p class="text-center">Thanks for giving me more data to analyze.</p>
          </div>
        </div>
        <div class="row feedback-box feedback-given hidden">
          <h2 class="text-center">Thanks for the feedback!</h2>
        </div>
      </div>
      <div class="row feedback-box">
        
      </div>
    </div>
    <!-- <div class="separator"></div>
    <div class="row">
      <h2 class="text-center">
        Classifiers Performance
      </h2>
      <div class="row">
        <div class="performance-box column column-3">
          <div class="performance-title">ConvNet</div>
          <div class="performance-percent">87%</div>
        </div>
        <div class="performance-box column column-3">
          <div class="performance-title">Random Forest</div>
          <div class="performance-percent">73%</div>
        </div>
        <div class="performance-box column column-3">
          <div class="performance-title">Regular NN</div>
          <div class="performance-percent">83%</div>
        </div>
        <div class="performance-box column column-3">
          <div class="performance-title">Multi-Class SVM</div>
          <div class="performance-percent">84%</div>
        </div>
      </div>
    </div> -->
    <div class="separator"></div>
    <!-- <div class="row hidden">
      <h2 class="text-center">History</h2>
      <table>
        <tr>
          <td>Review</td>
          <td>ConvNet</td>
          <td>FeedForward</td>
          <td>Random Forest</td>
          <td>Multi Class SVM</td>
          <td>ACTUALLY</td>
        </tr>
        <tr>
          <td>This movie is good</td>
          <td>+ve</td>
          <td>-ve</td>
          <td>+ve</td>
          <td>+ve</td>
          <td>+ve</td>
        </tr>
      </table>
    </div> -->
    
</div>
<footer class="text-center">
  <p>
    <a href="http://www.anonoz.com">FYP of Anonoz</a>
  </p>
</footer>
