<!DOCTYPE html>
<html>
  <head>
    <title>Athena</title>
    <meta property="og:title" content="[FYP] Athena" />
    <meta property="og:url" content="https://fyp.anonoz.com/" />
    <meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
    <meta property="og:description" content="Test drive sentiment analysis for fun." />
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
